<%= render 'shared/content_title', title: "Profile: #{@user.username}" %>

<div class='row'>
  <div class='span8 well'>
    <p><strong>Username:</strong> <%= @user.username %></p>
  </div>
</div>

<% @user.posts.each do |post| %>
  <%= render 'posts/post', post: post %>
<% end %>
