<p class='pull-right'>
  [<%= link_to "edit this category", edit_category_path(@category) %>]
</p>


<%= render 'shared/content_title', title: @category.name %>

<p><%= @post.description %></p>

<p><%= link_to @post.url %></p>
