<p class='pull-right'>
  [<%= link_to "edit this category", edit_category_path(@category) %>]
</p>


<%= render 'shared/content_title', title: "Showing Category: #{@category.name}" %>

<% @category.posts.each do |post| %>
  <%= render 'posts/post', post: post %>
<% end %>
